<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/go/Go"
			class = "org.xtext.example.go.go.GoPackage"
			genModel = "model/generated/Go.genmodel" />
	</extension>
</plugin>
